<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clear.dao.dao.TStrategyMapper" >
  <resultMap id="BaseResultMap" type="com.clear.dao.pojo.TStrategy" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="plan_id" property="planId" jdbcType="BIGINT" />
    <result column="strategy_name" property="strategyName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_userid" property="createUserid" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_strategy
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.clear.dao.pojo.TStrategy" >
    insert into t_strategy (ID, plan_id, strategy_name, 
      status, create_userid, create_time, 
      modify_time)
    values (#{id,jdbcType=BIGINT}, #{planId,jdbcType=BIGINT}, #{strategyName,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createUserid,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.clear.dao.pojo.TStrategy" >
    update t_strategy
    set plan_id = #{planId,jdbcType=BIGINT},
      strategy_name = #{strategyName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select ID, plan_id, strategy_name, status, create_userid, create_time, modify_time
    from t_strategy
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, plan_id, strategy_name, status, create_userid, create_time, modify_time
    from t_strategy
  </select>
</mapper>